.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.game-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* set height of body to 100% of viewport height */
}

.additional-info {
  display: none;
}

.item:hover .additional-info {
  display: block;
}


.game-card-cover {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.game-card-cover svg {
  width: 100px;
  height: 100px;
  margin: 0 5px;
}

.game-card-cover .at-symbol {
  font-size: 30px;
  line-height: 0px; /* Adjust this value to match the height of your `game-card-cover` element */
  align-self: center;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.match-ups-container {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  display: inline-block;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.parent {
  margin: 10px;
  display: inline-block;
}


.parent .child {
  margin: 10px;
}

.App-link {
  color: #61dafb;
}

#landing-page {
  background: url('./startUpGif.gif') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
